<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">Client Search</div>
        <div class="card-body">
          <form
            [formGroup]="searchForm"
            (ngSubmit)="onSearch()"
            ngNativeValidate
          >
            <div class="form-group">
              <label for="client-id-input">Client id </label>
              <input
                type="text"
                class="form-control"
                id="clientId-id-input"
                name="clientId"
                formControlName="clientId"
                placeholder="Client id"
              />
            </div>
            <div class="form-group">
              <label for="client-id-input">Name</label>
              <input
                type="text"
                class="form-control"
                id="clientName-input"
                formControlName="clientName"
                placeholder="Name"
              />
            </div>
            <div class="form-group">
              <label for="client-id-input">Legacy Number</label>
              <input
                type="text"
                class="form-control"
                id="legacy-number-input"
                placeholder="Legacy Number"
                name="LegacyNumber"
                formControlName="legacyNumber"
              />
            </div>
            <div class="form-group">
              <label for="inputState">Status</label>
              <select
                id="inputState"
                class="form-control"
                name="status"
                formControlName="status"
              >
                <option value=""></option>
                <option value="Active">Active</option>
                <option value="Inactive">Inactive</option>
              </select>
            </div>
            <p class="text-danger">{{errorMessage}}</p>
            <button type="reset" class="btn btn-secondary m-1">
              Reset
            </button>
            <button type="submit" class="btn btn-primary m-1">
              Search
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          Client List
          <span
            class="float-right text-primary"
            (click)="open(content)"
            style="cursor: pointer;"
            >+ ADD A CLIENT</span
          >
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">CLIENT ID</th>
                <th scope="col">CLIENT NAME</th>
                <th scope="col">BRANCH</th>
                <th scope="col">LEGACY NUMBER</th>
                <th scope="col">STATUS</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of records">
                <td>{{item.clientId}}</td>
                <td>{{item.clientName}}</td>
                <td>{{item.branch}}</td>
                <td>{{item.legacyNumber}}</td>
                <td>{{item.status}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Open new model -->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header bg-primary">
    <h5 class="modal-title text-white cursor-default" id="modal-basic-title">
      Add New client
    </h5>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="d('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="addNewForm" (ngSubmit)="addNewClient()" ngNativeValidate>
    <div class="modal-body">
      <div class="form-group row">
        <label for="clientId-id" class="col-sm-4 col-form-label"
          >Enter Client ID
        </label>
        <div class="col-sm-8">
          <input
            type="text"
            class="form-control"
            id="clientId-id"
            name="clientId"
            formControlName="clientId"
            placeholder="Client id"
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="clientName-input" class="col-sm-4 col-form-label"
          >Enter Client Name</label
        >
        <div class="col-sm-8">
          <input
            type="text"
            class="form-control"
            id="clientName-input"
            name="clientName"
            formControlName="clientName"
            placeholder="Name"
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="legacy-number-input" class="col-sm-4 col-form-label"
          >Enter Legacy No.</label
        >
        <div class="col-sm-8">
          <input
            type="text"
            class="form-control"
            id="legacy-number-input"
            placeholder="Legacy Number"
            name="legacyNumber"
            formControlName="legacyNumber"
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="branch-input" class="col-sm-4 col-form-label"
          >Enter Branch</label
        >
        <div class="col-sm-8">
          <input
            type="text"
            class="form-control"
            id="branch-input"
            placeholder="Branch"
            name="branch"
            formControlName="branch"
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="inputState" class="col-sm-4 col-form-label"
          >Select Status</label
        >
        <div class="col-sm-8">
          <select
            id="inputState"
            class="form-control"
            name="status"
            formControlName="status"
          >
            <option>Active</option>
            <option>Inactive</option>
          </select>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="reset" class="btn btn-info">Reset</button>
      <button type="submit" class="btn btn-success">Save</button>
    </div>
  </form>
</ng-template>
