<div class="row">
  <div class="col-md-4">
    <p>Available Client(s)</p>
    <select
      class="custom-select"
      multiple
      size="8"
      [(ngModel)]="leftSelectedValues"
    >
      <option *ngFor="let item of leftList">{{item.label}}</option>
    </select>
  </div>
  <div class="col-md-4">
    <button
      type="button"
      class="btn btn-primary btn-lg btn-block"
      (click)="add()"
      [disabled]="!leftSelectedValues || !leftList.length"
    >
      >
    </button>
    <button
      type="button"
      class="btn btn-primary btn-lg btn-block"
      (click)="addAll()"
      [disabled]="!leftList.length"
    >
      >>
    </button>
    <button
      type="button"
      class="btn btn-primary btn-lg btn-block"
      (click)="removeAll()"
      [disabled]="!rightList.length"
    >
      <<
    </button>
    <button
      type="button"
      class="btn btn-primary btn-lg btn-block"
      (click)="remove()"
      [disabled]="!leftSelectedValues || !rightList.length"
      [disabled]="!rightSelectedValues"
    >
      <
    </button>
  </div>
  <div class="col-md-4">
    <p>Available Client(s)</p>
    <select
      class="custom-select"
      multiple
      size="8"
      [(ngModel)]="rightSelectedValues"
    >
      <option *ngFor="let item of rightList">{{item.label}}</option>
    </select>
  </div>
</div>
