<div class="row align-items-center justify-content-end">
  <div class="mr-2">
    <label class='m-0'>Select User</label></div>
  <form class="col-md-4">
      <select class="form-control select2">

      </select>
  </form>
</div>

<h3>Charts.JS</h3>
<div class="d-flex mb-2">
  <div class="col-md-3 card">
    <!-- <app-chart-js [chartType]="'pie'" [data]="pieChart"></app-chart-js> -->
    <app-pie-chart [data]="pieChart"></app-pie-chart>
  </div>
  <div class="col-md-3 card ml-2">
    <!-- <app-chart-js [chartType]="'doughnut'" [data]="doughnutChart"></app-chart-js> -->
    <app-doughnut-chart [data]="doughnutChart"></app-doughnut-chart>
  </div>
  <div class="col-md-6 card ml-2">
    <!-- <app-chart-js [chartType]="'doughnut'" [data]="doughnutChart"></app-chart-js> -->
    <app-line-chart [data]="lineChart"></app-line-chart>
  </div>
</div>
<h3>Highcharts</h3>
<div class="d-flex mt-1 mb-3">
  <div class="col-md-4 card">
    <app-highcharts [type]="'donut'"></app-highcharts>
  </div>
  <div class="col-md-4 card ml-2">
    <app-highcharts></app-highcharts>
  </div>
  <div class="col-md-4 card ml-2">
    <app-highcharts [type]="'line'"></app-highcharts>
  </div>
</div>
