<h3>Charts.JS</h3>
<div class="d-flex mb-2">
  <div class="col-md-4 card">
    <app-chart-js [chartType]="'pie'"></app-chart-js>
  </div>
  <div class="col-md-4 card ml-2">
    <app-chart-js [chartType]="'doughnut'"></app-chart-js>
  </div>
</div>
<h3>Highcharts</h3>
<div class="d-flex mt-1 mb-3">
  <div class="col-md-4 card">
    <app-highcharts [type]="'donut'"></app-highcharts>
  </div>
  <div class="col-md-4 card ml-2">
    <app-highcharts></app-highcharts>
  </div>
  <div class="col-md-4 card ml-2">
    <app-highcharts [type]="'line'"></app-highcharts>
  </div>
</div>
