<div class="container">
    <div class="col-md-12 mt-2">
        <h4>Client Underwriting Configuration</h4>
        <div class="card">
            <div class="card-header bg-primary text-white">
                HISTORY VARIANCE
            </div>
            <div class="card-body">

                <div class="col-md-12 d-flex mb-3 mr-0 p-0">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="optradio">History Variance Standard
                            Threshold
                        </label>
                    </div>
                    <div class="form-check ml-4">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="optradio">History Variance By Tiers
                        </label>
                    </div>
                    <div class="form-check ml-5">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" value="">Include Variance Addendum w/report
                            delivery
                        </label>
                    </div>
                </div>
                <div class="col-md-12 d-flex mr-0 p-0">
                    <div class="form-group col-md-6 p-0">
                        <label for="historyTimeframe">History Timeframe(months)</label>
                        <input class="form-control" type="text" name="" id="historyTimeframe">
                    </div>
                    <div class="form-group col-md-6 p-0 pl-3">
                        <label for="valueVarianceThreshold">Value Variance Threshold(%)</label>
                        <input class="form-control" type="text" name="" id="valueVarianceThreshold">
                    </div>
                </div>

                <div class="col-md-12 d-flex justify-content-between mb-3 mr-0 p-0">
                    <a>Market Value Threshold</a>
                    <button type="button" class="btn-sm btn btn-primary">Add New</button>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">From</th>
                                <th scope="col">To</th>
                                <th scope="col">Variance Threshold</th>
                                <th scope="col">Edit</th>
                                <th scope="col">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let variance of variances">
                                <td scope="col">{{variance.from}}</td>
                                <td scope="col">{{variance.to}}</td>
                                <td scope="col">{{variance.threshold}}</td>
                                <td scope="col"><button type="button" class="btn-sm btn btn-secondary">Edit</button>
                                </td>
                                <td scope="col"><button type="button" class="btn-sm btn btn-secondary">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>