<div class="container-fluid">
    <div class="container">
        <div class="col-md-12 mt-2">
            <h4>Client Underwriting Configuration</h4>
            <div class="card mb-4">
                <div class="card-header bg-primary text-white">
                    HISTORY VARIANCE
                </div>
                <div class="card-body">

                    <div class="col-md-12 d-flex mb-3 mr-0 p-0">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="optradio">History Variance Standard
                                Threshold
                            </label>
                        </div>
                        <div class="form-check ml-4">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="optradio" checked>History Variance By
                                Tiers
                            </label>
                        </div>
                        <div class="form-check ml-5">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" value="">Include Variance Addendum
                                w/report
                                delivery
                            </label>
                        </div>
                    </div>
                    <div class="col-md-12 d-flex mr-0 p-0">
                        <div class="form-group col-md-6 p-0">
                            <label for="historyTimeframe">History Timeframe(months)</label>
                            <input class="form-control" type="text" name="" id="historyTimeframe" value="7 ">
                        </div>
                        <div class="form-group col-md-6 p-0 pl-3">
                            <label for="valueVarianceThreshold">Value Variance Threshold(%)</label>
                            <input class="form-control" type="text" name="" id="valueVarianceThreshold" value="13"
                                disabled>
                        </div>
                    </div>

                    <div class="col-md-12 d-flex justify-content-between mb-3 mr-0 p-0">
                        <a><u>Market Value Threshold</u></a>
                        <button type="button" class="btn-sm btn btn-dark" (click)="addNewRecord(content)">Add
                            New</button>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-sm">
                            <thead class="bg-primary">
                                <tr>
                                    <th scope="col">From</th>
                                    <th scope="col">To</th>
                                    <th scope="col">Variance Threshold</th>
                                    <th scope="col">Edit</th>
                                    <th scope="col">Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let _value of mvtData; let inx = index">
                                    <td scope="col">{{ _value.mkt_Val_From | currency:'USD' }}</td>
                                    <td scope="col">{{ _value.mkt_Val_To | currency:'USD'}}</td>
                                    <td scope="col">{{ _value.var_Threshold }} %</td>
                                    <td scope="col">
                                        <i class="fa fa-edit" aria-hidden="true" (click)="onEdit(_value, content, inx)"></i>
                                    </td>
                                    <td scope="col">
                                        <i class="fa fa-trash" aria-hidden="true" (click)="onDelete(_value)"></i>
                                    </td>
                                </tr>
                                <tr *ngIf="!isLoading && totalRecords===0">
                                    <td colspan="5" class="no-record">No records found</td>
                                </tr>
                                <tr *ngIf="isLoading">
                                    <td colspan="5" class="no-record">Loading . . .</td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="d-flex p-2 pagination justify-content-between">
                            <div class="d-flex">
                                <ngb-pagination [collectionSize]="totalRecords" [maxSize]="5" [ellipses]="false"
                                    (pageChange)="onPageChange($event)" [rotate]="true" [(page)]="page"
                                    [pageSize]="pageSize" [boundaryLinks]="true">
                                </ngb-pagination>

                                <div class="d-flex align-items-center ml-3">
                                    <select class="custom-select" (change)="onNoOfListRecordsChange(pageSize)"
                                        style="width: auto;" [(ngModel)]="pageSize">
                                        <option [ngValue]="3">3</option>
                                        <option [ngValue]="5">5</option>
                                        <option [ngValue]="10">10</option>
                                        <option [ngValue]="20">20</option>
                                        <option [ngValue]="50">50</option>
                                    </select>
                                    <div class="ml-2">items per page</div>
                                </div>
                            </div>

                            <div class="table-refresh d-flex align-items-center">
                                <span>Total Records: {{totalRecords}}</span>
                                <i class="fa fa-refresh ml-4" aria-hidden="true" (click)="onRefresh()"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">{{submitButtonLabel}} Threshold</h4>
            <button type="button" class="close" aria-label="Close" (click)="closeModal()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form (ngSubmit)="onSubmit()" [formGroup]="mvtForm" novalidate>
                <div class="form-group row mb-2">
                    <label class="col-md-4 col-form-label" for="mkt_Val_FromId">From</label>
                    <div class="col-md-8">
                        <input class="form-control" id="mkt_Val_FromId" type="text" placeholder="From"
                            formControlName="mkt_Val_From"
                            [ngClass]="{'is-invalid': isFormSubmitted && !mvtForm.get('mkt_Val_From').valid }" />
                        <span class="invalid-feedback"
                            *ngIf="isFormSubmitted && mvtForm.get('mkt_Val_From').errors?.required">
                            Please Enter From Value
                        </span>
                        <span class="invalid-feedback"
                            *ngIf="isFormSubmitted && mvtForm.get('mkt_Val_From').errors?.pattern">
                            Please Enter Numbers only
                        </span>
                    </div>
                </div>

                <div class="form-group row mb-2">
                    <label class="col-md-4 col-form-label" for="mkt_Val_ToId">To</label>
                    <div class="col-md-8">
                        <input class="form-control" id="mkt_Val_ToId" type="text" placeholder="To"
                            formControlName="mkt_Val_To"
                            [ngClass]="{'is-invalid': isFormSubmitted && !mvtForm.get('mkt_Val_To').valid }" />
                        <span class="invalid-feedback"
                            *ngIf="isFormSubmitted && mvtForm.get('mkt_Val_To').errors?.required">
                            Please Enter To Value
                        </span>
                        <span class="invalid-feedback"
                            *ngIf="isFormSubmitted && mvtForm.get('mkt_Val_To').errors?.pattern">
                            Please Enter Numbers only
                        </span>
                    </div>
                </div>

                <div class="form-group row mb-2">
                    <label class="col-md-4 col-form-label" for="var_ThresholdId">Variance Threshold</label>
                    <div class="col-md-8">
                        <input class="form-control" id="var_ThresholdId" type="text" placeholder="Variance Threshold"
                            formControlName="var_Threshold"
                            [ngClass]="{'is-invalid': isFormSubmitted && !mvtForm.get('var_Threshold').valid }" />
                        <span class="invalid-feedback"
                            *ngIf="isFormSubmitted && mvtForm.get('var_Threshold').errors?.required">
                            Please Enter Variance Threshold
                        </span>
                        <span class="invalid-feedback"
                            *ngIf="isFormSubmitted && mvtForm.get('var_Threshold').errors?.pattern">
                            Please Enter Numbers only
                        </span>
                    </div>
                </div>

                <div class="d-flex justify-content-center">
                    <button class="btn btn-primary mr-3" style="width:80px;" type="submit">
                        {{submitButtonLabel}}
                    </button>

                    <button class="btn btn-outline-secondary" style="width:80px;" (click)="closeModal()" type="button">
                        Cancel
                    </button>
                </div>

            </form>
        </div>
    </ng-template>
</div>