/* You can add global styles to this file, and also import other style files */
.bg-header {
  background-color: #4e92da !important;
}
button:focus{
  outline: none !important;
}
.modal-header{
       padding: 0.8rem 1rem !important; 
}
.cursor-pointer{cursor: default;}
.form-control:focus{box-shadow: none!important;}